<h1>Books</h1>
<p>{{#if user}}Hey {{user.username}}, {{/if}}Welcome to Books</p>

<ul>
  {{#each books}}
  <li>
    <a href="/book/{{_id}}">{{title}}</a>
    {{#if isOwner}}
    | <a href="/book-delete/{{_id}}">DEL</a>
    {{/if}}
  </li>
  {{/each}}
</ul>

<div id="map"></div>