<h1>Books</h1>
<p>{{#if user}}Hey {{user.username}}, {{/if}}Welcome to Books</p>

<ul>
  {{#each books}}
  <li>
    <a href="/book/{{_id}}">{{title}}</a> |
    <a href="/book-delete/{{_id}}">DEL</a>
  </li>
  {{/each}}
</ul>

<div id="map"></div>